.homeContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-height: 70%;
  gap: 1rem;

  @include respond-below("medium") {
    flex-direction: column;
    align-items: center;
  }
}

.homeContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.homeTopPageContent {
  height: calc(100vh - $headerHeight);
  width: 100%;
  display: flex;
  justify-content: center;

  &__inner {

    display: flex;
    gap: 1.6rem;
    @include respond-above-height("mobileHeight") {
          margin: 8rem 0 0 0;
    }
    
    @include respond-below-height("mobileHeight") {
      margin: 2rem 0 0 0;
    }
  }

  &__sideText {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
}

.topPageLogo {
  width: 10rem;
  min-width: 10rem;

  @include respond-below("medium") {
    width: 6rem;
    min-width: 6rem;
  }
  &__inner {
    width: 100%;
  }
  @include respond-below("small") {
    display: none;
  }
}

.cls-1 {
  fill: none;
}
.cls-1,
.cls-2 {
  stroke: #94a388;
  stroke-miterlimit: 10;
  stroke-width: 0.92px;
}
.cls-2,
.cls-3 {
  fill: #94a388;
}

.homeTitle {
  display: flex;
  flex-direction: column;

  &__name {
    font-size: 12rem;
    color: $SecondaryC2Light;

    @include respond-below("medium") {
      font-size: 10rem;
    }
    @include respond-below("small") {
      font-size: 8rem;
    }
  }

  &__surname {
    font-size: 10rem;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $SecondaryC2Light;

    margin-top: -1rem;

    @include respond-below("medium") {
      font-size: 8rem;
      margin-top: -1rem;
    }

    @include respond-below("small") {
      font-size: 6rem;
      margin-top: -1rem;
    }
  }
}

.homeTopPageText {
  width: 100%;
  max-width: 45rem;
}

.homeTopPageNav {
  margin-top: 3rem;
  display: flex;
}

// HOME TOP PAGE RELATIVE WRAPPER

.homeTopRelativeWrapper {
  height: calc(100vh - $headerHeight);
  width: 100vw;
  position: absolute;
}

//----------- BOX CONTENT
.boxContentContainer {
  position: absolute;
  padding: 2rem 4rem;
  bottom: 15rem;
  left: 10%;
  background-color: $SecondaryC2Light;

  @include respond-below("small") {
    width: 80%;
    padding: 2rem 2rem;
  }
  p {
    width: 28rem;
    font-size: 1.8rem !important;
    line-height: 2.3rem !important;
    color: white;

    @include respond-below("small") {
      width: 100%;
    }
  }

  @include respond-below("small") {
    bottom: 10rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

//-----------CIRCLE GRAPHIC

.circlesContainer {
  position: absolute;
  bottom: 5rem;
  right: -5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40rem;
  height: 40rem;
  transform: rotate(0deg);
  animation: circleRotation 30s infinite linear;

  @include respond-below("large") {
    right: -20%;
  }
  @include respond-below("medium") {
    right: -30%;
  }

  .orbitWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__rightCircle {
    position: absolute;
    border: solid 0.5px $SecondaryC2Light;
    width: 100%;
    height: 100%;
    border-radius: 1000rem;
  }
  &__leftCircle {
    position: absolute;
    left: -5rem;
    top: 50%;
    transform: translate(0rem, -50%);
    border: solid 0.5px $SecondaryC2Light;
    width: 5rem;
    height: 5rem;
    border-radius: 1000rem;
  }
}

@keyframes circleRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//---------------- home projects
.spanTest {
  display: block;
  height: 500rem;
  width: 100%;
  background-color: rebeccapurple;
}

//-----------ARROWDOWN

.arrowDown {
  position: absolute;
  bottom: 0;
  height: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &__inner {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  svg {
    width: auto;
    height: 5rem;
  }

  &__textContainer{
      clip-path: inset(10% 0 50% 0);
  }

  &__text {
    font-size: 1.4rem !important;
    color: $SecondaryC2Light;

  }

  &__textL{
    transition: .3s ease-out;
  }

  &__textR{
    transition: .3s ease-in;
  }
  
  &__textDown{
    transform: translateY(5rem);

  }

  .is-hovered{
    transform: translateY(-50px);
  }

  .is-hoveredDown{
     transform: translateY(-25px);
  }
}
.arrowDownSVG {
  fill: $SecondaryC2Light;
  stroke: $SecondaryC2Light;
  stroke-miterlimit: 10;
  stroke-width: 1.68px;
}

//------------PROJECTS

.homeProjectContainer {
  border: solid 0.5px $SecondaryC2Light;
  display: flex;
  justify-content: center;
}

.mainProject {
  width: 100%;
  height: fit-content;
  min-height: 60rem;
  padding: 4rem 1rem;

  &__inner {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include respond-below("medium"){
      width: 100%;
      padding: 1rem;
    }

    @include respond-below("small"){
      padding: 0rem;
    }
  }
  &__imgContainer {
    max-height: 90rem;
    height: 100%;
    min-height: 60rem;
    width: 100%;
    overflow: hidden;
    position: relative;

      @include respond-below("medium") {
max-height: 40rem;
min-height: 30rem;
    }
  }
  &__img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    @include respond-below("medium") {
      height: 100%;
      width: 100%;
    }
  }

  &__specifics{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
  }
  &__specificsInner{
    display: flex;
    gap : 2rem;
    flex-wrap: wrap;
    background-color: $SecondaryC2Light;
    padding: 0.2rem 1rem;
  }
}

.mainProjectContent {
  margin: 1.6rem 0 0 0;

  &__imgSpecifics {
    position: relative;
  }

  &__title {
    width: 100%;
    text-align: center;
    @include respond-below("medium") {
      text-align: left;
    }
  }

  &__description {
    text-align: center;
    display: flex;
    justify-content: center;
    @include respond-below("medium") {
      text-align: left;
    }
    p {
      width: 60%;
      @include respond-below("medium") {
        width: 100%;
      }
    }
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

//------------SECONDARY PROJECT

.secondaryProject {
  width: 100%;
  &__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__flex {
    flex-direction: row-reverse;
  }

  &__text p {
          width: 90%;
  }

  &__imgTextContainer {
    width: 50%;
    border: solid 0.5px $SecondaryC2Light;

    @include respond-below("medium") {
      width: 100%;
    }
  }

  &__imgSpecifics {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  &__specifics {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;

    p {
      color: white;

    }
  }

  &__specificsInner {
    display: flex;
    flex-wrap: wrap;
    background-color: $SecondaryC2Light;
    padding: 0.2rem 1rem;
  }

  &__imgContainer {
    overflow: hidden;
    height: 100%;
    max-height: 50rem;
  }

  &__sideImgContainer {
    width: 50%;
  }

  &__sideImg {
    width: 10rem;
    height: 20rem;
  }

  &__img {
    width: 100%;
    height: auto;
    min-height: 25rem;
    object-fit: cover;
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.sideImgs {
  width: 50%;
  @include respond-below("medium") {
    display: none;
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__sideImg {
    position: absolute;
  }

  &__sideImg1 {
    z-index: 3;
    left: 40%;
    top: 40%;
    min-width: 30rem;
    width: 75%;
    height: 50rem;
    overflow: hidden;
  }

  &__sideImg1-reverse {
    z-index: 3;
    left: 0;
    top: 20%;
    min-width: 30rem;
    width: 75%;
    height: 50rem;
    overflow: hidden;
  }

  &__sideImg2 {
    z-index: 3;
    top: 10%;
    left: 10rem;
    min-width: 20rem;
    width: 50%;
    height: 30rem;
    overflow: hidden;
  }

  &__sideImg2-reverse {
    z-index: 3;
    top: 10%;
    right: 10rem;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}

//-----------------TO LISTING

.toListing {
  position: relative;
  height: 40rem;
  width: calc(100vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(-1 * (100vw - 100%) / 2);

  @include respond-below("large") {
    margin-left: calc((-2 * $baseContentPadding) - 2.4rem);
  }

  @include respond-below("medium") {
    margin-left: calc((-1 * $baseContentPadding) - 1.2rem);
  }

  @include respond-below("small") {
    margin-left: calc((-1 * $baseContentPaddingMobile) - 2.4rem);
  }

  &__inner {
    position: absolute;
    background-color: $SecondaryC2Light;
    height: 100%;
    width: 100vw;
    min-width: 45rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

  }

  &__largeText{
    @include respond-below("small"){
      max-width: 35rem;
    }
  }
}

//------------------ ABOUT

.h-about {
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    @include respond-below("medium") {
      width: 100%;
      flex-direction: column-reverse;
    }
  }

  &__imgToggleContainer,
  &__textContainer {
    width: 50%;

      @include respond-below("medium") {
      width: 100%;
    }
  }

  &__text {
    width: 100%;
    max-width: 80%;
  }

  &__imgContainer {
    width: 100%;
    height: 100%;
    min-height: 55rem;
    max-height: 45rem;
    overflow: hidden;
    position: relative;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

  }
  &__toggleContainer {
    display: flex;
    justify-content: flex-end;
  }

  &__toggle {
    border: solid 1px $SecondaryC2Light;
    padding: 1rem 3rem;
    color: $SecondaryC2Light;
    transition: 0.3s ease-in;

      @include respond-below("medium") {
      width: 100%;
    }
  }

  &__toggle:first-child {
    margin-right: -1px;
  }

  &__textContainer {
    min-height: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
  }

  &__textContainerInner{
    display: flex;
    flex-direction: column;
    flex-grow : 1;
  }

  &__toggleSelected {
    background-color: $SecondaryC2Light;
    color: white;
  }
}

//------------ SKILLS

.js-row {
}

.skills {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0;
  }

  &__row {
    width: 25%;
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    background-color: $SecondaryC2Light;
    padding: 3rem 3rem;

    @include respond-below("medium") {
      width: 50%;
    }

    @include respond-below("small") {
      width: 100%;
    }
  }

  &__title {
    width: 100%;
    min-width: 20rem;
  }
  &__row:not(:first-child) {
    margin-left: -1px;
  }

  &__rowItem {
    //border-bottom: solid 1px $SecondaryC2Light;
    padding: 0.5rem 0rem;
  }

  &__rowItemText {
  }
}
