.imgFullContainer{

    height: 100%;
    min-height: 60rem;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
    position: relative;
    background-color : red;

    
    @include respond-below('large') {
        min-height: 45rem;
      }

          @include respond-below('medium') {
        min-height: 25rem;
      }


    &__img{
        object-fit : cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 100%;
        width: 100%;

    }
}

.imgFullContainer::after{
    position : absolute;
    z-index: 5;
    bottom: 50%;
    width: 100%;
    background-color : red;
    height : 100%
}