/*
* Variables for breakpoints
*/
$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;
$largeDesktop : 1400px;
/*
* Map for breakpoints
*/
$breakpoints: (
  "small": (
    $mobile-landscape,
  ),
  "medium": (
   $tablet,
  ),
  "large": (
   $desktop,
  ),
    "largeDesktop": (
   $largeDesktop,
  ),
); 


@mixin respond-below($breakpoint-name) {
    $value: map-get($breakpoints, $breakpoint-name);
    @if $value {
      @media screen and (max-width: $value) {
        @content;
      }
    } @else {
      @warn "Le breakpoint `#{$breakpoint-name}` n'existe pas.";
    }
  }

  @mixin respond-above($breakpoint-name) {
    $value: map-get($breakpoints, $breakpoint-name);
    @if $value {
      @media screen and (min-width: $value) {
        @content;
      }
    } @else {
      @warn "Le breakpoint `#{$breakpoint-name}` n'existe pas.";
    }
  }