
// COULEURS



$PrimaryC1Light : #DEB9AA;
$SecondaryC1Light : #ffebdd;
$TertiaryC1Light : #F8F2E2;

$PrimaryC2Light : #C68FE6;
$SecondaryC2Light : #94A388;
$TertiaryC2Light : #f6d3ff;

$PrimaryDark : #130014;
// RADIUS
$borderRadius1 : 2rem;
$TertiaryColor : #D62828;


// Typos

$TitleFontBlack : "CabinetGrotesk-Black";
$TitleFontLight : "PPHatton-Ultralight";

$RegularText : "Roboto";
$sizeMainText : 1.6rem;
$sizeLargeText : 2rem;
$smallUppercaseText : 1.4rem;


$sizeTitle2 : 2.4rem;
$sizeTitle3 : 2rem;

$sizeLargeBoldText : 6.9rem;


$textMarginBottomSmall : .1rem;

$sizePrimaryButton : 1.6rem;
$sizeSecondaryButton : 1.6rem;




// SPACING
$contentSpacingLaptop : 22rem;
$contentSpacing : 8rem;

$textTitleSpacing : 1.6rem;

// MARGES LAYOUT
$baseContentPadding : 3rem;
$baseContentPaddingLaptop : 10rem;
$baseContentPaddingMobile : 1rem;
$baseContentMargin : 3rem;


//PARAGRAPHES
$ParagraphlineHeight : 2.5rem;


//NAV
$headerHeight : 12rem;