.project {
  &__headImgContainer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 100vh;
    max-height: 65rem;
    overflow: hidden;
  }

  &__headImgContainerInner {
    width: 100%;
    height: 100%;
    bottom: -100%;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__headImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  &__headImgGradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 45%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .projectTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    z-index: 2;
  }

  .projectTitle h1{
    width: 100%;

  }
}

.projectHeadContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;

  &__link {
    font-size: $sizeLargeText;
    text-decoration: none;
        display: flex;
    flex-direction: row;
    gap: 1.6rem;
  }

  &__link:hover{
          .cls-link1 {
        fill: #f7f2e1;
      }
  }

  &__link a {
    color: #000000;
    text-decoration: none;

  }

  &__linkIcon {
    width: 2rem;
    height: 2rem;
  }

  &__textContainer {
    margin-top: 2rem;
    display: flex;
     @include respond-below("large") {
    flex-direction: column-reverse;
  }
  }

  &__description {
    width: 60%;
  }

  &__description p {
    font-size: 2.4rem !important;
    line-height: normal !important;
    font-weight: 300;
  }

  &__specifics {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 0 0 20rem;

     @include respond-below("large") {
    margin : 5rem 0 0 2rem;
    flex-direction: row;
    gap: 2rem;
  }
  }

  &__roles {
    margin-bottom: 5rem;
  }

  &__roleTitle {
    position: absolute;
    top: 0;
  }

  &__technologies {
    position: relative;
  }
  &__technologiesTitle {
    position: absolute;
    top: 0;
  }
}

.sticker {
  background-color: $SecondaryC2Light;
  border-radius: 0;
  width: fit-content;
  padding: 0.5rem 2rem;
  transform: translateX(-2rem) translateY(-4rem) rotate(-3deg);
  color: white;
}


//-------- NAV PROJECTS

.navProjects {

  display: flex;
  flex-direction: column;
   width: 100%;

  &__linkContainer{
    width: 100%;
    height: 10rem;
    border : solid 1px $SecondaryC2Light;
    display: flex;
  }

  a{
    width: 50%;
    height: 100%;
  }
  &__linkContainerInner{
    width: 100%;
    height: 100%;
    background-color: $SecondaryC2Light;
    padding: 1.6rem;
  }

  &__circleContainer{
    width: 50%;
    position: relative;
    flex-direction: row;
    
  }

  &__prevCircle{
    right: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
  }
  
    &__nextCircle{
    left: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    
  }

  &__nextCircle, &__prevCircle{
    transition: .3s ease-in;
  }
  
  &__prevCircle--over, &__nextCircle--over{
    transition: .5s ease-in-out;
  }
  &__prevCircle--over{
      right: 100%;
      transform: translateX(100%);
  }

  &__nextCircle--over{
      left: 100%;
      transform: translateX(-100%);
  }

  &__circleContainerInner{
    height: 100%;
    aspect-ratio : 1 / 1;
  }
}
